<% provide(:title, '「天然サプリメント」について') %>


<table class="table table-condensed">
<caption>通信販売法の法規（訪問販売法）に基づく表示</caption>
<tbody>
<tr>
	<td style="width:120px;">店舗名
	</td>
	<td>天然サプリメント
	</td>
</tr>

<tr>
	<td>運営責任者
	</td>
	<td>TENE-S
	</td>
</tr>

<tr>
	<td>所在地
	</td>
	<td>Pattanakhan Life Complex <br>
　　　　　Pattanakhan 25 Sounloung Bangkok 10250 Thailand
	</td>
</tr>

<tr>
	<td>TEL
	</td>
	<td>6608－4323－0562
	</td>
</tr>

<tr>
	<td>不良品・返品
	</td>
	<td>商品受け取りより７日以内にE-mailで連絡してください。お客様が返送後、良品交換または返金致します。
	</td>
</tr>

<tr>
	<td>お支払い方法
	</td>
	<td>クレジットカード
	</td>
</tr>

<tr>
	<td>万が一の場合
	</td>
	<td>お客様の元に商品が届くまで責任をもって対応させていただきます。
最高、商品の代金返金を限度とさせて頂きます。
	</td>
</tr>
	
</tbody>
</table>

<table class="table table-condensed">
<caption>個人情報の取り扱いについて</caption>
<tbody>
<tr>
	<td>
<ol>
<li>当社は　JIS Q 15001　の規定に基づき個人情報の取り扱いをおこなっております。</li>
<li>当社は、当社のホームページにアクセスしてきた方の個人情報に関して、ご本人の同意なく無断で収集・利用することはありません。</li>
<li>意を得た場合でも、同意を得た範囲内でのみ使用します。</li>
<li>また、当該個人情報は提供を同意された場合以外は、第三者に提供もしくは処理を委託することはありません。</li>
<li>さらに、収集した個人情報は、厳正な管理の下で安全に蓄積保管いたします。</li>
<li>個人情報の処理を外部に委託する場合(輸入代行業務)は、当社の厳正な管理の下でおこないます。</li>
<li>個人情報の取り扱いに関してのお問い合わせは　メールにてお願いいたします</li>
</ol>

	</td>
</tr>
</tbody>
</table>

