<% provide(:title, '商品について') %>

<h1>はじめに</h1>
<p>
　アジアで唯一の開かれた医療を持つタイでは、世界各国のVIPが訪れる程の医療技術を持っており、各々の言語で医療が受けられる体制が整っております。 
　貧富の差はまだまだ日本などに比べて大きいですが、医療技術においてはアジアのトップレベルで、医薬品においても規制が少なく多くの製品が流通しております。 
　昨今話題の中国製、インド製の安価なコピー商品については、行政の管理化の元、厳しく規制されていると同時に弊社では、安心・安全で実績のある製品のみを日本の皆様にお届けできるよう努力しております。 
</p>

<p>
　日本では規制により入手困難な米国、北欧などの高額・高品質の大手製薬会社の薬品製造においても隣国のマレーシア、タイで生産されるものも多く、地理的にはこれらの製品が流通しやすい環境であると同時に、科学薬品ではなく、現地では古くから処方されている薬草などを原料とした自然薬品なども多く流通しており、中国の漢方薬と同じく、身体に優しい良質のものが多く入手できます。タイに旅行された方などはご記憶にあるのではないかと思いますが、タイ人は女性、男性共とてもスマートです。これは、日常の食品にこれらの自然食品を食しているからに他なりません。メタボリック・シンドロームは日本人の食生活の欧米化に起因する要素も多々あることを留意の上、本来は薬品に頼らず食生活に留意することが最善の方法であることをご理解の上、健康な毎日をお送り下さいます様心よりお祈りしております。
</p>

<h1>Q&A</h1>
