<!--
<% if !signed_in? %>
	<center>
		<video width="940" autoplay loop="true" >  
			<source src="/assets/sample.mp4"　type="video/mp4"/>
			<source src="/assets/sample.ogg"　type="video/ogg"/>
			I'm sorry; your browser doesn't support HTML5 video.
		</video>
	</center>
<% end %>
-->

<div class="row">

	<div class="col-xs-12"> <h1>微笑みの国、タイから日本の皆様に耳寄りな情報です。</h1></div>

	<% for goods in @primary_goods %>
		<div class="col-xs-12 col-md-4">
			<div class="panel panel-default panel_custom">
				<div class="panel-body">
					<%= render 'static_pages/goods_simple', object: goods %>
				</div>
			</div>
		</div>
	<% end %>

</div>


<!--  -->
