<div class="row">

	<div class="col-xs-12 maker_title"> 
		<h2>カテゴリー : <%= @goods.category %></h2>
	</div>

	<div class="col-xs-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<%= render 'static_pages/goods_detail', object: @goods %>
			</div>
		</div>
	</div>

	<% for goods in @sub_goods %>
		<div class="col-xs-12 col-md-4">
			<div class="panel panel-default panel_custom">
				<div class="panel-body">
					<%= render 'static_pages/goods_simple', object: goods %>
				</div>
			</div>
		</div>
	<% end %>


</div>



