<% provide(:title, 'ユーザ追加') %>
<h1>ユーザ追加</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@user) do |f| %>
			<%= render 'fields', f:f %>
			<%= f.submit "ユーザ追加", class: "btn btn-large btn-primary" %>
		<% end %>

	</div>
</div>
