<% provide(:title, '商材登録') %>
<h1>商材登録</h1>
<div class="row">
	<%= form_for(@micropost) do |f| %>
		<%= render 'fields', f:f %>
		<%= f.submit "商材を追加", class: "btn btn-large btn-primary" %>
	<% end %>
</div>
